.transactions-card {
  bottom: 200px;
  background-color: rgb(222, 224, 232);
  position: relative;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 80px;
  color: #333;
  border: 1px solid #ccc;
  width: 1100px;
}

.card-title {
  margin: 20px;
  display: flex;
  font-size: 28px;
  color: #333;
}

.table-header {
  display: flex;
  padding: 10px;
  font-weight: bold;
  background-color: #71A1CE;
}

.header-item {
  padding-left: 50px;
  margin-right:200px;
  text-align: center;
}

.header-item h3{
  margin: 0;
  width: 150px;
  display: inline-block;
}

.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #f0f0f0;
  transition: background-color 0.3s ease;
}

.table-row:hover {
  background-color: #f0f0f0;
}

.table-row div {
  flex:1;
  text-align: center;
  padding: 10px 15px;
}
