.userImg {
  height: 150px;
  margin-left: 1000px;
  bottom: 340px;
  position: relative;
}

.box {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  border: 1px solid #ccc;
  gap: 12px;
  margin-left: 970px;
  width: 180px;
  bottom: 310px;
}

.icon-one {
  background-color: rgb(118, 187, 118);
  padding: 8px;
  border-radius: 50%;
}

.amount {
  color: rgb(76, 123, 76);
}

.box-second {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  gap: 5px;
  margin-left: 970px;
  width: 180px;
  bottom: 290px;
}

.icon-second {
  background-color: rgb(242, 74, 8);
  padding: 8px;
  border-radius: 50%;
}

.amount-second {
  color: rgb(190, 106, 72);
}
