.CardsDashboard{
    margin-top:80px;
    display: flex;
    margin-left: 50px;
    justify-content: space-between;
    gap: 30px;
}

.window {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; 
    cursor: pointer;
}

.card p {
    margin: 8px 0;
    font-size: 16px;
}

.window:hover{
    background-color: #dfe1e3;
}

.window p.name {
    font-size: 22px ;
    margin-bottom: 15px;   
    color: #122639 bold;

}

.window p.amount {
    color: #27ae60;
    font-size: 22px;
}

.time{
    margin-top: 30px;
    border-radius: 10px;
    color: white;
    background-color: #8884D8;
    min-height: 30px;
    width: 150px;
    height: 10px;
    cursor: pointer;
    margin-left: 70px;
}

.time:hover{
    color:black;
}